<div class="container-fluid">
  <form [formGroup]="formGroup" (ngSubmit)="submit()" class="form">
    <div class="form-group">
      <label for="input_name" class="form-control-label">Name</label>
      <div class="form-control-container">
        <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': formGroup?.controls.name?.errors && formGroup?.controls['name']?.touched }"
          id="input_name">
        <ng-container *ngIf="formGroup?.controls['name']?.touched">
          <div class="validation-error" *ngIf="formGroup?.controls['name']?.errors?.required">Required field</div>
          <div class="validation-error" *ngIf="formGroup?.controls['name']?.errors?.minlength">The name must be of minimum length {{formGroup?.controls['name']?.errors?.minlength?.requiredLength}} characters</div>
        </ng-container>
      </div>
    </div>

    <div class="form-group">
      <label for="input_file" class="form-control-label">File</label>
      <div class="form-control-container file-control-outer-container">
        <input type="file" id="input_file" formControlName="file" (change)="onFileChange($event)">
        <div class="file-control-inner-container form-control" for="validatedCustomFile" [ngClass]="{ 'is-invalid': formGroup?.controls.file?.errors && formGroup?.controls['file']?.touched
      }">
          <span *ngIf="fileToUpload">{{fileToUpload?.name}} (uploaded: {{uploadingProgress}}%)</span>
        </div>
        <ng-container *ngIf="formGroup?.controls['file']?.touched">
          <div class="validation-error " *ngIf="formGroup?.controls['file']?.errors?.required ">Required field</div>
        </ng-container>
      </div>
    </div>

    <div class="form-group row ">
      <button type="submit " [disabled]="formGroup.pristine||!formGroup.valid ">Send</button>
    </div>
    <div class="form-group row ">
      <button type="button " class="blue" (click)="emitMsg()" [disabled]="formGroup.pristine||!formGroup.valid ">emit msg</button>
    </div>
  </form>
</div>
